@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
    font-family: 'Oswald', sans-serif;
}

.main-body-container {
    border-radius: 5px;
    background: rgba(215, 215, 215, 0.41);
    top: 52px;
}

.form-bottom-offset {
    margin-bottom: 15px;
}

.bigger-font {
    font-size: 23px;
}